version: '3.8'

services:
  app:
    build: .
    ports:
      - "8081:80"
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: to_do_list
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data  # persiste os dados mesmo se o container morrer

volumes:
  pgdata:
